{
  "openapi": "3.0.0",
  "info": {
    "title": "Cortex Search API",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://YVCDOIW-PFC31944.snowflakecomputing.com"
    }
  ],
  "paths": {
    "/api/v2/databases/PUMP_DB/schemas/PUBLIC/cortex-search-services/PUMP_SEARCH_SERVICE:query": {
      "post": {
        "summary": "Query the Cortex Search service",
        "description": "Submit a query to the Cortex Search service to answer questions about Pumps, mechanical parts, repair, or maintenance information",
        "parameters": [
          {
            "in": "header",
            "name": "X-Snowflake-Authorization-Token-Type",
            "description": "Snowflake OAuth header type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["OAUTH"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["query"],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "The search query for pump maintenance information"
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Maximum number of results to return",
                    "default": 10
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful search response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "object",
                      "description": "Search results containing pump maintenance information",
                      "additionalProperties": true
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Unique request identifier"
                    }
                  },
                  "required": ["results", "request_id"]
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://YVCDOIW-PFC31944.snowflakecomputing.com/oauth/authorize",
            "tokenUrl": "https://YVCDOIW-PFC31944.snowflakecomputing.com/oauth/token-request",
            "scopes": {
              "refresh_token": "Refresh token access",
              "session:role:PUBLIC": "Public role access"
            }
          }
        }
      }
    }
  }
}
